 <div class="p-3">
   <span class="d-block mb-2" translate>Language</span>
   <div class="mb-4" ngbDropdown>
     <button id="language-dropdown" ngbDropdownToggle class="btn btn-outline-primary">{{currentLanguage}}</button>
     <div ngbDropdownMenu aria-labelledby="language-dropdown">
       <button ngbDropdownItem class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
         {{language}}
       </button>
     </div>
   </div>
   <span class="d-block mb-2" translate>Update frequency</span>
   <div class="slidecontainer mb-4">
     <input type="range" name="updateFrequency" min="1" max="10" value="3" class="slider">
   </div>
   <div class="custom-control custom-checkbox mb-4">
     <input type="checkbox" id="offlineUsers" name="showOfflineUSers" class="custom-control-input" checked>
     <label class="custom-control-label" for="offlineUsers">
       <span translate>Show offline users</span>
     </label>
   </div>
   <span class="d-block mb-2" translate>Chat backup</span>
   <div class="custom-control custom-radio">
     <input type="radio" id="chatBackupDaily" name="chatBackup" class="custom-control-input" checked>
     <label class="custom-control-label" for="chatBackupDaily">
       <span translate>Daily</span>
     </label>
   </div>
   <div class="custom-control custom-radio">
     <input type="radio" id="chatBackupWeekly" name="chatBackup" class="custom-control-input">
     <label class="custom-control-label" for="chatBackupWeekly">
       <span translate>Weekly</span></label>
   </div>
   <div class="custom-control custom-radio">
     <input type="radio" id="chatBackupMonthly" name="chatBackup" class="custom-control-input">
     <label class="custom-control-label" for="chatBackupMonthly">
       <span translate>Monthly</span></label>
   </div>
 </div>
