<!-- Contact info section -->
<div class="row heading heading-container">
  <div class="col-xs-12 col-sm-6">
    <div class="heading-contact-container" *ngIf="contact" (click)="profileService.showProfile(contact)">
      <div class="heading-avatar">
        <div class="heading-avatar-icon">
          <img [src]="contact.avatar" />
        </div>
      </div>
      <div class="heading-name">
        <a class="heading-name-details">{{ contact.name }}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 d-none d-sm-block">
    <a href="https://github.com/kemalersin/awesome-friends-chat" target="_blank">
      <img
        class="float-right"
        src="https://res.cloudinary.com/de2ljvtxn/image/upload/v1560790324/test/logo.png"
        alt="Awesome Friends Chat"
        height="28px"
      />
    </a>
  </div>
</div>

<!-- Chat section -->
<div id="conversation" class="row message" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div class="col-12 col-md-12 h-auto">
    <app-loader [isLoading]="isLoading"></app-loader>
    <div class="robot animated slideInRight faster" *ngIf="!(isLoading || conversation)">
      <img class="img-fluid" src="https://res.cloudinary.com/de2ljvtxn/image/upload/v1560509275/test/robotics.png" />
    </div>
    <div *ngIf="!isLoading && conversation">
      <div class="row message-body animated fadeIn faster" *ngFor="let message of conversation.messages">
        <div class="col-sm-12 message-main-{{ message.type == 1 ? 'receiver' : 'sender' }}">
          <div [ngClass]="{ receiver: message.type == 1, sender: message.type == 2 }">
            <div class="message-text">
              {{ message.text }}
            </div>
          </div>
          <div class="receiver-time">
            {{
              message.time
                | amFromUnix
                | amCalendar
                  : {
                      sameDay: 'h:mm A',
                      lastDay: '[Yesterday]',
                      lastWeek: 'M/D/Y',
                      sameElse: 'M/D/Y'
                    }
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reply section -->
<form name="reply" autocomplete="off" (ngSubmit)="sendMessage()">
  <div class="row reply">
    <div class="col-1 col-sm-1 paperClip">
      <fa-icon [icon]="faPaperClip" class="faIcon"></fa-icon>
    </div>
    <div class="col-8 col-sm-9 reply-main">
      <input
        type="text"
        name="message"
        class="form-control"
        [(ngModel)]="messageBody"
        placeholder="{{ 'Message' | translate }}"
        autocomplete="off"
        [readonly]="isLoading || !contact"
      />
    </div>
    <div class="col-3 col-sm-2 reply-send">
      <button type="submit" class="btn btn-info btn-send" [disabled]="!messageBody || isLoading || !contact">
        <span translate>Send</span>
      </button>
    </div>
  </div>
</form>
