<!--header section-->
<div class="row heading heading-container">
  <div class="col-xs-12 col-sm-6">
    <div class="heading-contact-container" *ngIf="contact">
      <div class="heading-avatar">
        <div class="heading-avatar-icon">
          <img [src]="contact.avatar" />
        </div>
      </div>
      <div class="heading-name">
        <a class="heading-name-details">{{ contact.name }} </a>
      </div>
    </div>
  </div>
  <!--Logo-->
  <div class="col-sm-6 d-none d-sm-block">
    <img src="/assets/logo.png" height="28px" />
  </div>
</div>

<!--messages section-->
<div class="row message" id="conversation">
  <div class="col-12 col-md-12 h-auto"></div>
</div>

<!--reply section-->
<div class="row reply">
  <div class="col-1 col-sm-1 paperClip">
    <fa-icon [icon]="faPaperClip" class="faIcon"></fa-icon>
  </div>
  <div class="col-8 col-sm-9 reply-main">
    <textarea
      class="form-control"
      rows="1"
      id="comment"
      placeholder="write a message..."
      [readonly]="!contact"
    ></textarea>
  </div>
  <div class="col-3 col-sm-2 reply-send">
    <button type="button" class="btn btn-info btn-send" [disabled]="!contact">Send</button>
  </div>
</div>
