  <div class="side-mainArea">
    <div class="row heading"></div>

    <!--navigation buttons-->
    <div class="row tabsContainer">
      <div class="col-sm-12 tabsContainer-inner">
        <div class="form-group has-feedback">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-container">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#chat">
                <fa-icon [icon]="faCommentDots" class="faIcon"></fa-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contacts">
                <fa-icon [icon]="faUser" class="faIcon"></fa-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#settings">
                <fa-icon [icon]="faSettings" class="faIcon"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--contacts section-->
    <div class="tab-content" id="sideBar">
      <div class="tab-pane active" id="chat">
        <app-loader [isLoading]="isLoading"></app-loader>
        <app-contact [contacts]="contacts" [inConversation]="true" [hidden]="isLoading"></app-contact>
      </div>
      <div class="tab-pane fade" id="contacts">
        <app-contact [contacts]="contacts"></app-contact>
      </div>
      <div class="tab-pane fade" id="settings">
        <!--settings component-->
      </div>
    </div>
  </div>
