$box_shadow: 0 13px 40px -13px rgba(0, 0, 0, 0.75);

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7fbcfe;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 85%;
  width: 85%;
  margin: auto;
  padding: 0;
  border-radius: 7px;
  box-shadow: $box_shadow;
}

.app-container {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: $box_shadow;
}

@media (max-width: 768px) {
  .app-container {
    overflow: scroll;
  }
}

.side {
  padding: 0;
  margin: 0;
  height: 100%;
}

.conversation {
  padding: 0;
  margin: 0;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
